/* Header.css */

/* Style adjustments for the header */
.navbar {
  background-color: #1b263b; /* Your preferred color */
  padding: 0.8rem 1rem;
}

/* Customizing the Navbar brand text */
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff; /* Adjust to your preferred color */
}

.navbar-brand:hover {
  color: #219ebc; /* Hover color */
  text-decoration: none;
}

/* Style for navigation links */
.nav-link {
  color: #ffffff; /* Default link color */
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.nav-link:hover {
  color: #219ebc; /* Hover color */
  text-decoration: none;
}

/* Responsive styles */
@media (max-width: 768px) {
  /* Mobile devices */
  .navbar {
    padding: 0.5rem 1rem;
  }
  .navbar-brand {
    font-size: 1.2rem;
  }
  .nav-link {
    font-size: 0.9rem;
    padding: 0.4rem;
  }
}

@media (max-width: 576px) {
  /* Smaller mobile devices */
  .navbar-brand {
    font-size: 1rem;
  }
  .nav-link {
    font-size: 0.8rem;
    padding: 0.3rem;
  }
}
